:root {
  --black-transparent-light: rgba(0, 0, 0, 0.2);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hr {
  border: none;
  border-bottom: 1px solid var(--black-transparent-light);
  width: 70%;
}
